{% extends 'base/base.html' %}
{% load i18n %}
{% load static%}

{% block contentfluid %}
<style type="text/css">
 table {
    border-collapse: collapse;
    border-spacing: 2em 1em;
  }
  .table {
  	margin-bottom: -0.9rem!important;
  }

  .table thead th {
    vertical-align: bottom;
    border-bottom: none;
    padding: 10px;
    border: 1px solid;
  }
  .table td {
    vertical-align: top;
    border-top: 1px solid #dee2e6;
    padding: 15px;
  }
  .table-striped>tbody>tr:nth-child(odd)>th, .table-striped>tbody>tr:nth-child(odd)>td {
    background-color: #dfe6f1;
    color: #657396;
  }

    ul{
      list-style:none
    }
    .div_texto_sub {
	    margin: 0em 3em 0em 0em;
	    width: 100%;
	}
</style>

<center>
			<div class="d-flex font-weight-bold">
				<a href="{% url 'tareas:cargar_archivos' %}"  class="btn btn-info btnTimer">
	                	<ul style="margin: 0;float: left;color: #fff;width:auto;max-width:auto;padding-inline-start: 0px;padding-right: 1em;">
							<li class="nav-item active">
								<div class="div_li_ul_a">
									<i class="fas fa-file-excel" class="i_icono"></i>
								</div>
								<div class="div_texto_sub">
									{% trans "Cargar archivos masivos" %}
								</div>
							</li>
						</ul>
					</a>
					 &nbsp;&nbsp;
					 <a href="javascript:history.go(-1)" class="btn btn-primary btnTimer">
	                	<ul style="margin: 0;float: left;color: #fff;width:auto;max-width:auto;padding-inline-start: 0px;padding-right: 1em;">
							<li class="nav-item active">
								<div class="div_li_ul_a">
									<i class="fas fa-undo-alt" class="i_icono"></i>
								</div>
								<div class="div_texto_sub">
									{% trans "Volver" %}
								</div>
							</li>
						</ul>
					</a>
			</div>
      <div class="container d-flex justify-content-center titulo-BuscadorProcesos font-weight-bold" style="display:inline-block !important;max-width: max-content;">
      		{% trans "Administrador de Cargues de Archivos para Tareas Masivas" %}
      </div>
	<hr>
		{% include "./buscar_por_numero_cargue.html" %}
	<hr>
  </center>

<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
	{% include "base/pagination.html" %}
			{% if cargues %}
					<table class="table table-striped">
						<!--Encabezo de la tabla-->

						<thead class="table-primary">
							<tr >
								<th>No</th>
								<th>{% trans "Usuario" %}</th>
								<th>{% trans "Fecha" %}</th>
								<th>{% trans "Estado" %}</th>
								<th>{% trans "Tipo Cargue" %}</th>
								<th>{% trans "Archivo" %}</th>
								<th>{% trans "Descargar" %}</th>
								<th>{% trans "Acción" %}</th>
								<th>{% trans "Observaciones" %}</th>
							</tr>
						</thead>
						<tbody>
				{% for cargue in cargues %}
							<tr>
								<td><b>{{cargue.id}}</b></td>
								<td><b>{{cargue.usuario_id}}</b></td>
								<td><b>{{cargue.fecha}}</b></td>
								<td><b>{{cargue.estado}}</b></td>
								<td><b>{{cargue.tipo_masivo}}</b></td>
								<td><b>{{cargue.getNombreArchivo}}</b></td>
								{% comment %}<td><b>{{cargue.getRutaArchivo}}</b></td>{% endcomment %}
								<td>
									{% if  cargue.archivo.url is not None  or cargue.archivo.url is True  %}
									   <!-- Asi funciona para descargar archivos media
									   <a href="{cargue.archivo.url}" class="btn btn-primary" target="_blank">
									   		<img  style="width: 50px;height: auto;" src="{ static 'img/informes1.png' }">
			                				<b>Descargar CSV</b>
									   </a>
									   -->
									   <a href="{% url 'tareas:descargar_bulk_csv' cargue.id  %}" class="btn btn-primary" target="_blank">
									   		<img  style="width: 50px;height: auto;" src="{% static 'img/informes1.png' %}">
			                				<b>{% trans "Descargar CSV" %}</b>
									   </a>
									{% else %}
										<button href="#" class="btn btn-primary" style="background-color: red;">
									   		<img  style="width: 50px;height: auto;" src="{% static 'img/pdf-litigando.png' %}">
			                				<b>{% trans "No tiene CSV" %}</b>
									   </button>
									{% endif %}

								</td>
								<td>

									{% if cargue.masivo_id > 0 %}
									<a href="{% url 'tareas:verUnaTarea' cargue.masivo_id  %}">
										<button class="btn btn-success mt-1 btnTimer"
												style="color: #fff; background-color:green;">{% trans "Ver Detalle Cargue" %} {% if "system_user" in user.username %} {{cargue.masivo_id}} {% endif %}
										</button>
									</a>
									{% endif %}
									{% if cargue.tipo_masivo.tiene_adjunto == 'S' %}
									<a href="{% url 'tareas:verUnAdjunto' cargue.id  'masivo_file_id' %}">
										<button class="btn btn-success mt-1 btnTimer"
												style="color: #fff; background-color:green;">{% trans "Ver Detalle Adjunto" %} {% if "system_user" in user.username %} {{cargue.id}}  {% endif %}
										</button>
									</a>
									{% endif %}
									{% if cargue.estado != 'ok'  %}
									<a href="{% url 'tareas:procesar_archivo' cargue.id  %}">
										<button class="btn btn-success mt-1 btnTimer"
												style="color: #fff; background-color:red;">{% trans "Procesar Archivo" %} {% if "system_user" in user.username %} {{cargue.id}}  {% endif %}
										</button>
									</a>
									{% endif %}
								</td>

								<td><b>{{cargue.observaciones}}</b></td>
							</tr>
				{% endfor %}
						</tbody>
						<!-- Fin Cuerpo  de la tabla-->
					</table>
			{% else %}
				<table class="table table-striped text-center" style="width: 100%;">
		            <thead>
		                <tr>
		                    <th scope="col" colspan="7">
		                        {% trans "No hay Archivos de Cargue" %}
		                    </th>
		                </tr>
		            </thead>
		        <table>
			{% endif %}
	</div>
</div>
{% endblock %}

{% block extrajs %}
	<script type="text/javascript">
			$("a").click(function() {
			setTimeout(function(){
			    $(".contenido_principal").show();
			    $(".gif_cargando").hide();
			}, 2000);
		});
	</script>
{% endblock %}
