{% extends 'base/base.html' %}
{% load static%}

{% block title %}
    {{title}}
{% endblock %}


 {% block content %}
 <style type="text/css">
    .ctn-input {
      margin-top: 15px;
    }
    input,select {
      box-sizing: border-box;
      width: 100%;
      /* box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset; */
      width: 15em;
      height: 2.2em;
      border-radius: 8px;
      border: 1px solid #2087c9;
      padding: 5px;
      outline: none;
    }
    input:focus {
      box-shadow: 0 0 5px #4fbeda;
      padding: 3%;
      border: 1px solid #2d9ec1;
    }
    .div_li_ul_a{
      float: left;
    }
    .i_icono{
      color: #fff;
      font-size: 2.5em;

    }
    input[type="file"]{
      display: none;
    }

    ul{
      list-style:none
    }
    .div_texto_sub {
        margin: 0.7em 3em 0em 0em;
        width: 100%;
    }
    @media screen and (max-width: 1180px) {
       .select2-container--default .select2-selection--single {
            width: 11em !important;
        }
        input {
            width: 11em;
        }
    }
  /* Estilos Textarea */
  textarea {
    resize: none;
    width: 100%;
    height: 9em;
    border-radius: 1em;
    background-color: #73c9ec2b !important;
    padding: 2em;
    outline: none;
    border: 1px solid #1bb1dc;
    box-shadow: 0 3px 0px 0 rgba(65, 62, 102, 0.08);
    transition: all .3s ease-in-out;
    position: relative;
  }
  textarea:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 0%;
    height: 5px;
    background-color: #1bb1dc;
    transition: 0.5s;
  }
  textarea:hover {
    -webkit-transform: scale(1.05);
    transform: scale(1.05);
    /* box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75); */
    box-shadow: -25px 20px 12px -11px rgba(191,191,191,1);
  }

  textarea:hover:after {
    width: 100%;
  }
/* Fin Estilos Textarea */
 </style>
 {% block h2 %}<br><center><div class="container d-flex justify-content-center titulo-BuscadorProcesos font-weight-bold">{{title}}
</div>
{% if error %}
    <p style="color: red;">
      {{error}}
    </p>
{% endif %}
</center> <br>
  {% endblock %}

  <div class="row justify-content-center" >
    <div class="col-12">
      <div class="card">
        <div class="card-body">


{% if form.errors %}
    <ul class="alert alert-danger">
    {% for field in form %}
        {% for error in field.errors %}
            <li>
              {% if field != '__all__' %}
                <strong>{{ field.label }}:</strong>
              {% endif %}
              {{ error }}
            </li>
        {% endfor %}
    {% endfor %}
    </ul>
{% endif %}
<style type="text/css">
  .select2-container--default .select2-selection--single {
            width: auto;
    max-width: none;
    min-width: auto;
    }
    .font-Tamaño {
    font-size: 1.4em;
    color: #4d5e86;
}
</style>

 <form method="POST" action="">
  {% csrf_token %}

  {% for hidden in form.hidden_fields %}
    {{ hidden }}
  {% endfor %}


  <div class="container ctn-input">
    <div class="row col-md-12">
      <div class="col-md-6">
        <div class="row col-md-12">
          <div class="col-md-6">
            <label class="style-Font" for="example-search-input">
              {{form.cliente_id.label}}
            </label>
          </div>
          <div class="col-md-6">
            {{form.cliente_id}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row col-md-12">
          <div class="col-md-6">
            <label class="style-Font" for="example-search-input">
              {{form.name.label}}
            </label>
          </div>
          <div class="col-md-6">
            {{form.name}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container ctn-input">
    <div class="row col-md-12">
      <div class="col-md-6">
        <div class="row col-md-12">
          <div class="col-md-6">
            <label class="style-Font" for="example-search-input">
              {{form.fecha_ini.label}}
            </label>
          </div>
          <div class="col-md-6">
            {{form.fecha_ini}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row col-md-12">
          <div class="col-md-6">
            <label class="style-Font" for="example-search-input">
              {{form.fecha_fin.label}}
            </label>
          </div>
          <div class="col-md-6">
            {{form.fecha_fin}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container ctn-input">
    <div class="row col-md-12">
      <div class="col-md-6">
        <div class="row col-md-12">
          <div class="col-md-6">
            <label class="style-Font" for="example-search-input">
               {{form.city.label}}
            </label>
          </div>
          <div class="col-md-6">
             {{form.city}}
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <div class="row col-md-12">
          <div class="col-md-6">
            <label class="style-Font" for="example-search-input">
              {{form.departament.label}}
            </label>
          </div>
          <div class="col-md-6">
            {{form.departament}}
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container ctn-input">
    <div class="row col-md-12">
      <div class="col-md-6">
        <div class="row col-md-12">
          <div class="col-md-6">
            <label class="style-Font" for="example-search-input">
              {{form.category.label}}
            </label>
          </div>
          <div class="col-md-6">
            {{form.category}}
          </div>

        </div>
      </div>
    </div>
  </div>
  <div class="container ctn-input">
    <div class="row col-md-12">
      <div class="col-md-6">
        <div class="row col-md-12">
          <div class="col-md-6">
            <label class="style-Font" for="example-search-input">
              {{form.order_by_id.label}}
            </label>
          </div>
          <div class="col-md-6">
            {{form.order_by_id}}
          </div>

        </div>
      </div>
      <div class="col-md-6">
        <div class="row col-md-12">
          <div class="col-md-6">
            <label class="style-Font" for="example-search-input">
              {{form.generar_xls.label}}
            </label>
          </div>
          <div class="col-md-6">
            {{form.generar_xls}}
          </div>
        </div>
      </div>
    </div>
  </div>

  <br><br>
    <div class="row d-flex justify-content-center" id="btnEnviar">

      <br><br>
       <a href="javascript:history.go(-1)" class="btn btn-primary btnTimer">
          <ul style="margin: 0;float: left;color: #fff;width:auto;max-width:auto;padding-inline-start: 0px;padding-right: 1em;">
            <li class="nav-item active">
              <div class="div_li_ul_a">
                <i class="fas fa-undo-alt" class="i_icono"></i>
              </div>
              <div class="div_texto_sub">
                Volver
              </div>
            </li>
          </ul>
        </a>
          &nbsp;&nbsp;
        <button type="submit" class="btn btn-success mr-3">
          <ul style="margin: 0;float: left;color: #fff;width:auto;max-width:auto;padding-inline-start: 0px;padding-right: 1em;">
            <li class="nav-item active">
              <div class="div_li_ul_a">
                <i class="fas fa-search" class="i_icono"></i>
              </div>
              <div class="div_texto_sub">
                {{title}}
              </div>
            </li>
          </ul>
        </a><br><br>
        </button>
    </div>
  </form>


        </div>
      </div>
    </div>
  </div>

{% endblock %}

{% block extrajs %}
  <script>
    $("form").submit(function(event) {
      $(".contenido_principal").hide();
      $(".gif_cargando").show();
      setTimeout(function(){
        $(".contenido_principal").show();
        $(".gif_cargando").hide();
      }, 8000);
    });

    $(function(){
      toSelect2($('#id_city'),"Seleccione una Ciudad")
      toSelect2($('#id_departament'),"Seleccione un Departamento")
      toSelect2($('#id_category'),"Seleccione una Categoria")
    });

  $("#id_fecha_ini").change(function () {
    $("#id_fecha_fin").val($("#id_fecha_ini").val());
  });
 </script>
{% endblock%}
