{% extends 'base/base.html' %}
{% load i18n %}

{% block content %}


<br><br>
<style type="text/css">
  .div_icono{
        height: 3em;
    width: 3em;
    background-color: #bbb;
    border-radius: 50%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    font-size: 3em;
    color: #c6d6f1
  }
  <style type="text/css">

  #menu{
    background-color: #19294e;
  }

  .div_li_ul_a{
    float: left;
    margin: 0em 0em 0em 1em;
  }
  .i_icono{
    color: #fff;
    font-size: 2.5em;

  }
  .div_texto_sub{
    margin: 1em;
    width: 100%;
  }
  .dropdown-menu {
    background-color: transparent;
    border-radius: 0.25rem;
    width: auto;
    position: relative;
    top: 0;
  }

</style>

</style>
  <div id="contenedor_principal" style="width: 100%;">
    <div class="contenedor_gris">
      <div class="jumbotron jumbotron-fluid rounded">
        <div class="container" style="    max-width: 100%;">
          <h1 class="display-4 text-center">
            ¡{% trans "Bienvenidos" %}!

          </h1>
          <div class="container d-flex justify-content-center" style="    max-width: 100%;">
            <ul class="flex-container">


                <li class="item" id="item4">
                  <a class="nav-link btnTimer" href="{% url 'cliente:client_filter' %}">
                    <div class=" padding_blocks">
                      <p class="texto-iconos text-center"> {% trans "Filtro Clientes" %}  </p><br><br>
                      <div class="div_icono">
                        <center>
                        <i class="fas fa-search" class="i_icono"></i>
                        </center>
                      </div>
                    </div>
                  </a>
                </li>

                <li class="item" id="item4">
                  <a class="nav-link btnTimer" href="{% url 'cliente:client_list_class' s_order='asc' %}">
                    <div class=" padding_blocks">
                      <p class="texto-iconos text-center"> {% trans "Lista Clientes" %}  </p><br><br>
                      <div class="div_icono">
                        <center>
                        <i class="fas fa-balance-scale" class="i_icono"></i>
                        </center>
                      </div>
                    </div>
                  </a>
                </li>

                <li class="item" id="item4">
                  <a class="nav-link btnTimer" href="{% url 'tareas:cargar_archivos' %}">
                    <div class=" padding_blocks">
                      <p class="texto-iconos text-center"> {% trans "Cargar Archivos Masivos" %}  </p><br><br>
                      <div class="div_icono">
                        <center>
                        <i class="fab fa-cloudscale" class="i_icono"></i>
                        </center>
                      </div>
                    </div>
                  </a>
                </li>

        </ul>

          </div>
        </div>
      </div>
    </div>
  </div>


{% endblock %}
{% block extrajs %}
<script type="text/javascript">
  var colors = ['#00b3e685','rgb(214, 101, 101)','#ffb399','#ff99c5','#e46edea1','#6e79e4a1','#6ed1e4a1','#6ee4c6a1','#81ef87a1','#b8ef81a1',];

  $('.div_icono').each(function() {
      $(this).css('background-color', 'rgb(119, 155, 225)');
  });


    $("#desplegar-1000").click(function(event) {
      $(".dropdown-menu-1000").slideToggle( "slow", function() {});
    });

//   $("#desplegar-2").click(function(event) {
//   $(".dropdown-menu-2").slideToggle( "slow", function() {});
//   // $(".dropdown-menu").slideToogle( "slow", function() {});
// });

</script>
<script type="text/javascript">
  function desplegar(identificador){
    $(".dropdown-menu_"+identificador).slideToggle( "slow", function() {});
  }
</script>
{% endblock %}
