*{
    padding:0px;
    margin: 0px;
    padding-left:0px;
    margin-left: 0px;
}
.font-Tamaño1 {
    color: #4d5e86;
    font-size: 38px;
}
#conteProceso{
	height: 0px;
}
#contedespa{
	height:44px;
}
#conTipo{
    padding-top: 31px;
}
#conArchivo{

    padding-top: 36px;
}
#conobserva{
    padding-top: 32px;
}

.font-Tamaño2{
    color: #4d5e86;
    font-size: 20px;
    padding-left: 0px;
    margin-left: -63px;
}

.font-Tamaño3{
    color: #4d5e86;
    font-size: 20px;
}

.btnDesplegable{
    color: #fff;
    background-color: #4d5e86;
    border-color: #4d5e86;
}

a:hover {
    color: #ffff;
    text-decoration: underline;
}

#Id{

    padding-left: 0px;
    padding-right: 0px;
    width: 241px;

    padding-left: 0px;
    padding-right: 0px;
    width: 240px;

}

.form-check-input {
    height: 23px;
}

#h1{
	text-align: center;
}

#despacho{

    padding-left: 0px;
    padding-right: 0px;
    width: 260px;

}

#id_despacho{
	 height: 27px;
    font-size:20px;
    height: 33px;
    padding-top: 0px;
    width: 246px;
}

#proceso{

    padding-left: 0px;
    padding-right: 0px;
    width: 240px;

}

#id_proceso_id{
    height: 36px;
    width: 241px;
    margin-right: 0px;
    padding-left: 103px;
    background-color:#DCF8F8;
}

#cliente{

    padding-left: 0px;
    padding-right: 0px;
    width: 259px;

}

#id_cliente{
    width: 247px;

    font-size:20px;
}

#fecha{

    padding-left: 0px;
    padding-right: 0px;

    width: 377px;



}
#id_fecha_termino{
    padding-left: 71px;




}

#tipo{


    width: 385px;

    padding-right: 0px;
    padding-left: 0px;

}

#id_tipo_documento{
    width: 250px;
    font-family: inherit;
    font-size:20px;
    margin-right: 0px;


}

#envio{

    padding-left: 0px;
    padding-right: 0px;

    width: 391px;


}

#id_tipo_envio{
    width: 234px;
    font-family: inherit;
    font-size:20px;



}

#archivo{



    width: 359px;
    margin-left: 23px;
    padding-right: 0px;
    padding-left: 0px;

}
#id_archivo{
  margin-left: 39px;
}


#hora{


    width: 334px;

    padding-right: 0px;
    padding-left: 0px;

}

#id_hora{
    width: 240px;
    font-family: inherit;
    font-size:20px;
    height: 40px;
    padding-bottom: 7px;


}

#id_id{
    height: 38px;
    border-style: solid;
    padding-left: 93px;
    width: 243px;
    font-family: inherit;
    font-size:20px;
    background-color:#DCF8F8;
}

#localidad{

    padding-left: 0px;
    padding-right: 0px;
    width: 261px;


}
#id_localidad{
     height: 27px;
    font-size:20px;
    height: 33px;
    padding-top: 0px;
    width: 246px;
}

#id_observaciones{
    height: 158px;
    width: 308px;
    font-family: inherit;
    font-size:20px;
    margin-left: 10px;
    margin-right: 20px;

}

#observaciones{
    width: 344px;
}

#id_despacho,#id_cliente,#id_tipo_documento,#id_fecha_termino,#id_tipo_envio,#id_hora,#id_observaciones,#id_id,#id_proceso_id{
	border-style: solid;
    border-radius: 5px;
}
